body{
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ddd;
  line-height: 1.8;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
}


img{
  max-width: 100%;
  height: auto;
}

.wrapper{
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px rgba(0,0,0,0.2);
}

#namecard{
  text-align: center;
}


/* 名前 */
h1.name{
  font-weight: normal;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
}

/* 経歴部分 */
h2.title{
  font-size: 12px;
  color: #999;
  margin-bottom: 5px;
}

.profile{
  padding: 10px;
}

ul.history_list li{
  list-style: none;
  display: flex;
  border-bottom: 1px dotted #ccc;/* 下線の点線 */
  margin-bottom: 1em;
  padding-bottom: 0.2em;
}

ul.history_list li div.txt{
  flex: 1;
}

div.year{
  width: 5em;
}

